:root {
    --color-bg-gradient: linear-gradient(114deg, rgba(255,255,255,1) 0%, rgba(253,254,254,1) 50%, rgba(210,229,230,1) 78%, rgba(184,196,223,1) 100%);
}

@media (prefers-color-scheme: dark) {
    :root[color-mode="user"] {
        --color-bg-gradient: linear-gradient(114deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 75%, rgba(48,33,60,1) 100%);
    }
}

body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: var(--color-bg-gradient);
}
main {
    display: block;
    flex: 1 0 auto;
}
.container {
    min-width: 200px;
    max-width: 600px;
    margin: auto;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
nav {
    margin-bottom: 1em;
}
nav ul li {
    margin: 0 1rem 0 0;
}
main {
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 120;
}
h1 {
    margin-bottom: 0;
}
input[type="password"] {
    width: calc(100% - 1.6rem);
}