{{ if featureFlagIsOn .ctx "LogAllAuthnCalls" }}LogAllAuthnCalls feature flag is ON{{end}}
<h3>Files</h3>
<form action="/files" method="post" enctype="multipart/form-data">
    <h4 class="form_header">Upload File</h4>
    <div>
        <label for="file" hidden>File</label>
        <input id="file" type="file" name="file" placeholder="File" data-test="file" required/>
    </div>
    <div>
        <label for="password" hidden>Password</label>
        <input id="password" type="password" name="password" placeholder="Password" data-test="password"/>
    </div>
    <div style="float: left">
        <label for="expire_in_amount" hidden>Expires In</label>
        <input id="expire_in_amount" type="number" name="expire_in_amount" placeholder="Expires In" data-test="expire_in" min="1"/>
    </div>
    <div style="float: left">
        <label for="expire_in_unit" hidden>Expiration Unit</label>
        <select id="expire_in_unit" name="expire_in_unit" data-test="expire_in_unit">
            <option value="m">Minutes</option>
            <option value="h">Hours</option>
            <option value="d" selected="">Days</option>
            <option value="w">Weeks</option>
        </select>
    </div>
    <div id="expiration_date_fields" hidden>
        <span style="text-align: center; float: left">&nbsp;- or -&nbsp;</span>
        <span style="float: left">
            <label for="expiration_date_display" hidden>Expires On</label>
            <input style="float: left" type="text" id="expiration_date_display" placeholder="Expires On Date" data-test="expiration_date"/>
        </span>
    </div>
    <input type="hidden" id="expiration_time" name="expiration_time"/>
    <div style="clear: both"></div>
    <div>
        <label for="download_limit" hidden>Download Limit</label>
        <input id="download_limit" type="number" name="download_limit" placeholder="Download Limit" data-test="download_limit" min="1"/>
    </div>
    <input id="submit_file_upload" type="submit" value="Upload" data-test="upload"/>
</form>
{{ render "partials/message.html" .content.MessageView }}
{{- if (len .content.Files)}}

<form action="/files/delete" method="post">
    <label for="search" hidden>search</label>
    <input id="search" type="text" name="search" placeholder="Search" hidden class="standard"/>
    <table id="file_table" data-test="file_table">
        <thead>
            <tr>
                <th data-sort="string">File</th>
                <th data-sort="float">Size</th>
                <th data-sort="date" data-dir="desc">Uploaded</th>
                <th data-sort="date">Expires</th>
                <th>Downloads</th>
                <th data-sort="string">Access</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        {{range $file := .content.Files}}
            <tr id="file_{{$file.ID}}">
                <td data-search><a href="/file/{{$file.ID}}" target="_blank" data-test="file_link">{{$file.Name}}</a></td>
                <td data-sort-value="{{$file.ByteSize}}">{{$file.Size}}</td>
                <td class="datetime" data-sort-value="{{$file.Uploaded}}">{{$file.Uploaded}}</td>
                <td class="datetime" data-sort-value="{{$file.Expires}}" data-test="expires">{{$file.Expires}}</td>
                <td data-test="downloads"><span class="download_count">{{$file.Downloads}}</span>{{if (gt $file.DownloadLimit 0)}}/{{$file.DownloadLimit}}{{end}}</td>
                <td data-test="access">{{if $file.PasswordProtected}}Password{{else}}Public{{end}}</td>
                <td><label for="select-{{$file.ID}}" hidden>Select</label><input id="select-{{$file.ID}}" name="select-{{$file.ID}}" type="checkbox"></td>
            </tr>
        {{end}}
        </tbody>
    </table>
    <br/>
    <p class="file_search_filtered_count" hidden></p>
    <input class="warn right" type="submit" value="Delete Selected"/>
</form>
{{- else}}
<p>No files. Upload one!</p>
{{- end}}
<script type="text/javascript">
    const attr = (elem, attr, bool) => {
        if (bool) {
            elem.setAttribute(attr, "");
        } else {
            elem.removeAttribute(attr);
        }
    }

    const uploadForm = () => {
        const submitElem = document.getElementById("submit_file_upload");
        const fields = [
            document.getElementById("file"),
            document.getElementById("expire_in_amount"),
            document.getElementById("expiration_time"),
            document.getElementById("download_limit"),
        ]
        const onInput = () => {
            let valid = true;
            for (let i = 0; i < fields.length; i++) {
                if (!fields[i].checkValidity()) {
                    valid = false;
                } else {
                    fields[i].classList.remove("warn");
                }
            }
            attr(submitElem, "disabled", !valid)
        }
        const onChange = () => {
            for (let i = 0; i < fields.length; i++) {
                if (fields[i].checkValidity()) {
                    fields[i].classList.remove("warn");
                } else {
                    fields[i].classList.add("warn");
                }
            }
        }
        for (let i = 0; i < fields.length; i++) {
            fields[i].addEventListener("input", onInput);
            fields[i].addEventListener("change", onChange);
        }
        onInput();
    }
    uploadForm();

    const expiration = () => {
        const expiresInElem = document.getElementById("expire_in_amount");
        const datepickerElem = document.getElementById("expiration_date_display");
        const expirationDateElem = document.getElementById("expiration_date_fields");

        // Initialize date picker
        const datepicker = new Datepicker(datepickerElem, {
            autohide: true,
            clearButton: true,
            todayButton: true,
            todayButtonMode: 1,
            minDate: Date.now(),
        });

        // Ensure only either datepicker or expires_in values are set
        expiresInElem.addEventListener("input", () => {
            datepicker.setDate({clear: true});
        });

        // Set ISO date
        const expirationElem = document.getElementById("expiration_time");
        const datePickerChanged = (date) => {
            let expiration = "";
            if (date) {
                expiresInElem.value = "";
                date.setDate(date.getDate()+1);
                expiration = date.toISOString();
            }
            expirationElem.value = expiration;
            expirationElem.dispatchEvent(new Event('change'));
            expirationElem.dispatchEvent(new Event('input'));
        }
        datepickerElem.addEventListener("changeDate", (e) => {
            datePickerChanged(e.detail.date);
        });
        datepickerElem.addEventListener("change", () => {
            datePickerChanged(datepicker.getDate());
        });
        attr(expirationDateElem, "hidden", false);
    }
    expiration();

    const parseDateTimes = () => {
        dayjs.extend(window.dayjs_plugin_localizedFormat);
        const dtElems = document.getElementsByClassName("datetime");
        for (let i = 0; i < dtElems.length; i++) {
            const innerHTML = dtElems[i].innerHTML
            const dt = dayjs(innerHTML)
            if (!dt.isValid()) {
                continue;
            }
            dtElems[i].innerHTML = dt.format("L LT");
        }
    }
    parseDateTimes();

    const fileTable = document.getElementById("file_table");

    const sortTable = () => {
        if (fileTable) {
            fileTable.tsortable();
        }
    }
    sortTable();

    const searchTable = () => {
        if (!fileTable) {
            return;
        }

        const input = document.getElementById("search");
        const rows = fileTable.querySelectorAll("tbody tr");
        const countElems = document.querySelectorAll(".file_search_filtered_count");

        const search = (value) => {
            const search = value.toLowerCase();
            let hideCount = 0;
            let showCount = 0;
            for (let i = rows.length-1; i >= 0; i--) {
                const cells = rows[i].querySelectorAll("td[data-search]")
                let match = false;
                for (let j = cells.length-1; j >= 0; j--) {
                    if (cells[j].textContent.toLowerCase().includes(search)) {
                        match = true;
                        break;
                    }
                }
                attr(rows[i], "hidden", !match);
                if (match) {
                    showCount++;
                } else {
                    hideCount++;
                }
            }
            if (countElems.length > 0) {
                const pluralRows = (count) => {
                    const r = count === 1 ? "row" : "rows";
                    return `${count} ${r}`;
                }
                for (let i = 0; i < countElems.length; i++) {
                    countElems[i].innerHTML = (showCount === 0) ?
                        `No matches found in ${pluralRows(hideCount)}` :
                        `Matched ${pluralRows(showCount)}, hiding ${hideCount}`;
                    attr(countElems[i], "hidden", hideCount === 0);
                }
            }
        }

        input.addEventListener("input", (e) => search(e.target.value));

        attr(input, "hidden", false);
        const searchValue = input.value;
        if (searchValue) {
            search(searchValue);
        }
    }
    searchTable();

    const sseNotifications = () => {
        if (typeof(EventSource) === "undefined") {
            return;
        }
        const source = new EventSource("/files/notifications");
        source.onmessage = function(event) {
            if (!event.data) {
                return;
            }
            const data = JSON.parse(event.data);
            switch (data.Change) {
                case "deleted":
                    deleteFileRow(data.ID);
                    return;
                case "downloaded":
                    if (data.DownloadLimit > 0 && data.Downloads >= data.DownloadLimit) {
                        deleteFileRow(data.ID);
                        return;
                    }
                    updateDownloadCount(data.ID, data.Downloads);
                    return;
            }
        };
    }
    sseNotifications();

    const deleteFileRow = (id) => {
        const fileElem = document.getElementById("file_" + id);
        if (fileElem) {
            fileElem.remove();
        }
    }

    const updateDownloadCount = (id, count) => {
        const fileElem = document.getElementById("file_" + id);
        if (!fileElem) {
            return;
        }
        const countElem = fileElem.querySelector("td .download_count");
        if (countElem) {
            countElem.innerHTML = count;
        }
    }
</script>
