<h3>Download File</h3>
<div id="download_form">{{ render "partials/message.html" .content.MessageView }}
    <form action="/file/{{.content.ID}}" method="post">
        <label for="password" hidden>Password</label>
        <input id="password" type="password" name="password" placeholder="Password"/>
        <input type="submit" value="Download" onclick="javascript:document.getElementById('download_form').setAttribute('hidden', '');document.getElementById('download_msg').innerText = 'Starting download!'"/>
    </form>
</div>
<p id="download_msg"></p>