<html lang="en">
<head>
    <title>Login</title>
    {{- if .Redirect}}
    <meta http-equiv="Refresh" content="0; url='{{.Redirect}}'"/>
    {{- end}}
</head>
<body>
<h1>Login</h1>
{{- if .SuccessMessage}}
<p>{{.SuccessMessage}}</p>
{{- end}}
{{- if .ErrorView}}
<p>{{.ErrorView.Message}}<span style="visibility:hidden"><span id="error-id">{{.ErrorView.ID}}</span><span id="error-status">{{.ErrorView.Status}}</span></span></p>
{{- end}}
<form method="post">
    <label>
        Username:
        <input type="text" name="username"/>
    </label>
    <input type="submit" value="Login"/>
</form>
</body>
</html>