<h3>Files</h3>
<form action="/files" method="post" enctype="multipart/form-data">
    <label for="file" hidden>File</label>
    <input id="file" type="file" name="file" placeholder="File"/>
    <input type="submit" value="Upload"/>
</form>
{{ render "partials/message.html" .content.MessageView }}
{{- if (len .content.Files)}}
<form action="/files/delete" method="post">
    <table>
        <thead>
            <tr>
                <th>File</th>
                <th>Size</th>
                <th>Upload Time</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        {{range $file := .content.Files}}
            <tr>
                <td><a href="/file/{{$file.ID}}/download" target="_blank">{{$file.Name}}</a></td>
                <td>{{$file.Size}}</td>
                <td>{{$file.Uploaded}}</td>
                <td><label for="select-{{$file.ID}}" hidden>Select</label><input id="select-{{$file.ID}}" name="select-{{$file.ID}}" type="checkbox"></td>
            </tr>
        {{end}}
        </tbody>
    </table>
    <br/>
    <input class="warn right" type="submit" value="Delete Selected"/>
</form>
{{- else}}
<p>No files. Upload one!</p>
{{- end}}